.Legend {
  font-size: 14px;
  text-align: right;
  position: absolute;
  right: 8px;
  bottom: 4px;
  font-weight: 700;
}

.CountryView--left .Legend {
  text-align: left;
  left: 8px;
}

.Legend-item {
  margin-bottom: 4px;
}

.CountryView--left .Legend-item:before, .CountryView--right .Legend-item:after, .CountryView--mixed .Legend-item:after {
  content: '';
  border: 1px solid white;
}

.CountryView--right .Legend-item:after, .CountryView--mixed .Legend-item:after {
  padding-left: 17px;
  margin-left: 6px;
}

.CountryView--left .Legend-item:before {
  padding-right: 17px;
  margin-right: 6px;
}

.Legend-total:before, .Legend-total:after {
  background-color: #38a169;
}

.Legend-cases:before, .Legend-cases:after {
  background-color: #e8e5a7;
}

.Legend-deaths:before, .Legend-deaths:after {
  background-color: #ef1432;
}

@media screen and (max-width: 620px) {
  .Legend {
    font-size: 12px;
  }

  .CountryView--right .Legend-item:after, .CountryView--mixed .Legend-item:after {
    padding-left: 15px;
  }

  .CountryView--left .Legend-item:before {
    padding-right: 15px;
  }
}
