.CovidSquare {
  background-color: #38a169;
}

.CovidSquare-cases {
  background-color: #e8e5a7;
}

.CovidSquare-deaths {
  background-color: #ef1432;
}

@media screen and (max-width: 620px) {
  .CovidSquare {
    width: 300px !important;
    height: 300px !important;
  }
}
