.CovidLine {
  background-color: #38a169;
  width: 240px;
  height: 16px;
  border-radius: 2px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}

.CovidLine-cases {
  background-color: #e8e5a7;
}

.CovidLine-deaths {
  background-color: #ef1432;
}

.CovidLine-cases, .CovidLine-deaths {
  float: left;
}

@media screen and (max-width: 620px) {
  .CovidLine {
    width: 180px;
  }
}
