.CovidSquare {
  background-color: #32936f;
  width: 500px;
  height: 500px;
  position: relative;
}

.CovidSquare-cases {
  background-color: #f5ee9e;
}

.CovidSquare-deaths {
  background-color: #db0a43;
}

.CountryView--right .CovidSquare-cases, .CountryView--right .CovidSquare-deaths {
  float: right;
}

@media screen and (max-width: 620px) {
  .CovidSquare {
    width: 300px;
    height: 300px;
  }
}
