.App {
  text-align: center;
  background-color: #1a202c;
  color: white;
  padding: 40px 0;
  min-height: calc(100vh - 80px);
}

.Main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.App-square {
  margin-bottom: 20px;
}

.App-select {
  width: 400px;
  color: #282c34;
  font-size: 1.4rem;
  margin: auto;
}

.App-title {
  font-size: 1.8rem;
  color: #edf2f7;
  font-weight: normal;
  margin: 30px 0;
}

.App-title span {
  display: block;
  font-size: 2.25rem;
  font-weight: bold;
}

@media screen and (max-width: 620px) {
  .App-title {
    font-size: 1.5rem;
  }

  .App-title span {
    font-size: 1.7rem;
  }

  .App-select {
    width: 80%;
    font-size: 1.2rem;
  }
}
